name: Cypress Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress tests (generate JSON reports)
        run: npm run cypress:run:json

      - name: Merge Mochawesome JSON reports
        run: npm run merge-reports

      - name: Generate HTML report
        run: npm run generate-report

      - name: Upload Cypress report artifact
        uses: actions/upload-artifact@v3
        with:
          name: cypress-report
          path: cypress/reports/
